# Azure Document Intelligence (Azure_OCR/)
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

AZURE_STORAGE_AUTH=entra
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_CONTAINER=imaging-pipeline
AZURE_OCR_RAW_STORAGE_PREFIX=
AZURE_OCR_STORAGE_WRITE_PREFIX=

GLINER_LARGE=
GLINER_MEDIUM=
GLINER_LOW=
